form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
}

textarea {
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
}
